<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "open.jog.app"
        versionCode="1"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <icon src="icon.png" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <name>Open Jog</name>

    <description>
        An application to help joggers and other athletes stick to their running plan.
    </description>

    <author href="https://softwareontheside.info" email="shanetestingq@gmail.com">
        Shane Quigley
    </author>

</widget>